.App {
  text-align: center;
  max-width: 300px;
  margin: 20px auto;
}

Form {
  border: 1px solid lightgray;
  border-radius: 10px;
  padding: 20px;
}

.submit-button {
  background-color: blueviolet;
}

.submit-button:hover {
  background-color: #897c80;
}

.test-style {
  height: 110px

}

.error-display {
  background-color: beige;
  color: red;
  font-size: 16px;
  
}