/* .container { */
/* display: grid;
    align-items: center; 
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 5px; */
/* } */

.jarrod-title {
  text-align: center;
  font-family: 'Bebas Neue', sans-serif;
  font-size: 64px;
}

/* .text {
  font-size: 70px;
  float: left;
}  */
