.card-body {
    height: 300px;
}


.box-image {
  object-fit: cover;
  height: 100%;
 width: 100%;
  border-radius: 0px 0px 32px 32px;
  resize: both;
}

/* relevant styles */
.img__wrap {
  position: relative;
  height: 100%;
  width: 100%;
}

.img__description {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(29, 106, 154, 0.72);
  border-radius: 0px 0px 32px 32px;
  color: #fff;
  visibility: hidden;
  opacity: 0;
  font-size: larger;
  padding-left: 12px;
  padding-top: 12px;

  transition: opacity 0.2s, visibility 0.2s;
}

.img__wrap:hover .img__description {
  visibility: visible;
  opacity: 1;
}
